# Point to Github Packages
@valtech-sd:registry=https://npm.pkg.github.com
# Pull in authentication from en environment variable.
# Use a standard shell environment variable or .env file.
# //npm.pkg.github.com:_authToken=${GITHUB_PACKAGES_TOKEN}
